body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
}

.container {
  display: flex;
  height: 100vh;
  gap: 10px;
  padding: 10px;
}

.editor-section {
  flex: 3;
  background: #020617;
  border-radius: 10px;
  padding: 10px;
}

.sidebar {
  flex: 1;
  background: #020617;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  color: white;
}

button {
  margin-left: 5px;
  padding: 5px;
}

.output-box {
  background: black;
  color: #22c55e;
  padding: 10px;
  margin-top: 10px;
  height: 120px;
  overflow-y: auto;
}

.history-item {
  background: #1e293b;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.chat-box {
  margin-top: 10px;
}

.messages {
  height: 150px;
  overflow-y: auto;
  background: #0f172a;
  padding: 5px;
}

.chat-input {
  display: flex;
}